{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block main
%}
<form action="/login" method="post">
  <h1 class="mb-3 home-title">Log In</h1>
  {% if error %}
  <p class="text-danger">{{ error }}</p>
  {% endif %}
  <div class="mb-3">
    <input
      type="text"
      name="username"
      placeholder="Username"
      required
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      name="password"
      placeholder="Password"
      required
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
    />
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>
{% endblock %}
